html{
  background-color: #42c2f4;
}
#weatherbox{
  width: 100%;
  height: 300px;
  clear: both;
  background-image: url("https://d38om4ir5igmin.cloudfront.net/production/pages/heros/188/large/HERO_Grand_Tetons_Schwabachers.jpg?1497527847");
  background-repeat:no-repeat;
  background-size: cover;
  margin-top: 100px;
}
#tempbox{
  width: 50%;
  height: 50px;
  margin: auto;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  word-wrap: normal;
}

#tip{
  visibility: hidden;
  float: right;
  clear: left;

}

#tip :hover{
  visibility: visible;
}

#location-message {
    background-color:#E8AFAF;
    padding:20px;
    width:20%;
}

#location-message h3 {color: #B82828;}

.inputs {
    width: 20%;
    margin: 20px;
}
label {
    width: 100%;
}
select {
    display: block;
    margin: 5px;
}
