html{
  background-color: #42c2f4;
}
#weatherbox{
  width: 100%;
  height: 150px;
  clear: both;
  background-image: url("https://d38om4ir5igmin.cloudfront.net/production/pages/heros/188/large/HERO_Grand_Tetons_Schwabachers.jpg?1497527847");
}
