html{
  background-color: #42c2f4;
}
body{
  text-align: center;
  }
#weatherbox{
  width: 100%;
  height: auto;
  z-index: -1;
  background-image: url("https://d38om4ir5igmin.cloudfront.net/production/pages/heros/188/large/HERO_Grand_Tetons_Schwabachers.jpg?1497527847");
  background-repeat:no-repeat;
  background-size: cover;
  margin-top: 100px;
}


#openweathermap-widget-12 :hover{

}
#dragseed{
  background-color: white;
}

#plantseed{
  font-size: 1.5vw;
  text-align: center;
  height: 100%;
  width: 50%;
  position: absolute;
  top: 100px;
  right: 0;
}
#dirt1 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsnhW4GqoOd2udWWgGCwlEirsSpMKPaWnMET-NTEYmCU5w5LN_9A);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin-left: 5px;
    border: 1px solid #aaaaaa;
}
#seed1{
    margin: 10;
}


#location-message {
    background-color:#E8AFAF;
    padding:20px;
    width:20%;
}

#location-message h3 {
  color: #B82828;
}

iframe{
  clear: both;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

#growingplant{
  height: 150px;
  width: 60px;
  margin-left: 5px;
  margin-bottom: auto;
  background-image: url(http://www.clker.com/cliparts/v/U/R/j/x/2/growing-plant-hi.png);
}

#tipcontainer {
    position: absolute;
    clear: both;
    margin: 0;
    padding: 5px;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.box {
    position: absolute;
    width: 50%;
    height: 200px;
    padding: 5px;
    line-height: 200px;
    font-size: 15px;
    text-align: left;
    border: 2px solid black;
    margin-left: -25%;
}

#box1 {
    background-color: #8b9ab2;
    left: -150%
}

#box2 {
    background-color: #8b9ab2;
}

#box3 {
    background-color: #8b9ab2;
    left: 150%;
}

#roots{
  background-image: url(https://png.pngtree.com/element_pic/16/11/23/3c57029e36b66128a19647a9487f1288.jpg);
  width: 50px;
  height: 100px;
  margin-top: -100px;
}
